@font-face {
  font-family: "HND";
  src: url("../../content/fonts/louislebras.woff2") format("woff2"),
    url("../../content/fonts/louislebras.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PPEN";
  src: url("../../content/fonts/louistheme.woff2") format("woff2"),
    url("../../content/fonts/louistheme.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PPENI";
  src: url("../../content/fonts/louisthemeitalic.woff2") format("woff2"),
    url("../../content/fonts/louisthemeitalic.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
