.mini-spacer {
  height: 2vh;
}

@media (max-width: 800px) {
  .mini-spacer {
    height: 2.5vh;
  }
}

.little-spacer {
  height: 10vh;
}

@media (max-width: 800px) {
  .little-spacer {
    height: 6vh;
  }
}

.medium-spacer {
  height: 22vh;
}

@media (max-width: 800px) {
  .medium-spacer {
    height: 12vh;
  }
}
