.aboutsection {
  video {
    width: calc((16.667% + 2.5px) * 2);
    height: 70vh;
    margin-left: calc((16.667% + 2.5px) * 2);
    // border: 1px solid red;
    filter: saturate(0.7);
    border-radius: 4000px;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .aboutsection {
    margin-top: 20px;
    p {
      text-indent: 0;
    }

    video {
      width: 100%;
      margin-left: 0;
      height: 65vh;
    }
  }
}

.capabilities-container {
  .listcontent-intro {
    h4 {
      padding: 0;
    }

    .container-list-services {
      width: 40%;
      margin-right: calc(10% - 7.5px);

      p {
        margin-bottom: 10px;
        line-height: 170%;
      }
    }
  }
}

@media (max-width: 800px) {
  .capabilities-container {
    .listcontent-intro {
      .container-list-services {
        width: 100%;
      }
    }
  }
}

.ifyouneed-aboutpage {
  .container-list-services {
    display: flex;
    flex-direction: column;
  }
  .empty-macaron {
    width: fit-content;
    height: fit-content;
    border-radius: 700px;
    line-height: 130% !important;
    // line-height: 100%;
  }
}

.historic-aboutpage {
  display: flex;
  flex-direction: column;

  h3 {
    padding-left: calc(16.667% + 3px);
  }

  .listcontent-intro {
    h4 {
      padding-left: calc(16.667% + 3px);
    }
  }
}

@media (max-width: 800px) {
  .historic-aboutpage {
    h3 {
      padding-left: 0;
    }

    .listcontent-intro {
      h4 {
        padding-left: 0;
        width: 100%;
      }
    }
  }
}
